# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Semester_1/Programming for Data Science/Advanced Case Studies/Data-Smart-Using-Data-Science-to-Transform-Information-into-Insight-John-W-Foreman.pdf
temp/Lottery/.ipynb_checkpoints/Lottery Statistics Exercise -checkpoint.ipynb
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/user.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/Untitled.ipynb
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/technologie.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/spec_int2006.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/spec_int2000.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/spec_int1995.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/spec_int1992.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/spec_fp2006.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/spec_fp2000.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/spec_fp1995.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/spec_fp1992.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/schema_migration.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/processor_familie.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/processor.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/power.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/mips_est.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/microarchitecture.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/manufacturer.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/gate_delay.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/die_photo.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/core_mark.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/code_name.csv
Semester_1/Computer Architecture and Operating Systems/CPUs/cpudb/cache.csv
